# Configure these environment variables before running setup.sh. For more information, see README or check spotify's docs here: https://developer.spotify.com/documentation/web-api
CLIENT_ID=
CLIENT_SECRET=

